.filter {
  position: relative;
  margin-bottom: 40px;

  &-opener {
    @extend .button-default;
    @extend .flex-wrap;
    align-items: center;

    min-height: 40px;

    span {
      font-weight: 600;
      font-size: 20px;
      line-height: 1;
      margin-right: 8px;
      color: var(--dark);
    }

    @extend .hover-opacity-transition;

    position: relative;

    small {
      @extend .flex-centered-content;
      position: absolute;
      top: -5px;
      right: -20px;

      width: 24px;
      height: 24px;

      line-height: 1;

      border-radius: 50%;
      background-color: var(--primary);
      color: var(--white);
    }
  }

  &-container {
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    width: 280px;
    height: fit-content;
    max-height: 400px;
    padding: 20px;
    background-color: var(--filter-bg-color);

    overflow: hidden;
    overflow-y: auto;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    z-index: 101;
  }

  &-control {
    @extend .main-checkbox;
    @extend .flex-wrap;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    input[type="checkbox"] + label {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      min-height: 20px;
      text-transform: capitalize;

      padding-left: 30px;
      color: var(--main-color);

      &::before {
        width: 20px;
        height: 20px;
        border-radius: 3px;
        border-color: var(--filter-lable-border-color);
        background-color: var(--white);
      }
    }

    input[type="checkbox"]:checked + label::before {
      background-image: url('@/assets/images/icon-filter-check.svg');
      background-size: 12px;
    }

    input[type="checkbox"]:disabled + label {
      opacity: 0.5;
      cursor: default;
    }
  }
}

