.main-btn {
  @extend .flex-centered-content;
  padding: 15px 35px;
  border: 2px solid var(--main-btn-color);
  border-radius: 68px;

  width: fit-content;
  min-width: 280px;

  cursor: pointer;
  @extend .hover-opacity-transition;

  @include m-b-mobile-lg-down {
    padding: 15px 20px;
  }

  span {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    margin-right: 20px;
    color: var(--main-btn-color);
  }

  svg {
    fill: var(--main-btn-color);
  }
}
