.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  flex-direction: column;

  width: 90vw;
  max-width: 600px;
  height: fit-content;
  min-height: 200px;
  max-height: 90vh;
  background-color: var(--main-bg-color);
  opacity: 0;

  &__close {
      position: absolute;
      top: 0;
      right: 0;
  }

  &__content {
      margin-top: auto;
      overflow: hidden;
      overflow-y: auto;
      height: 100%;
  }

  &__close {
    @extend .button-default;
    @extend .flex-centered-content;
    top: 30px;
    right: 30px;

    @include m-b-tablet-down {
      top: 15px;
      right: 15px;
    }

    svg {
      fill: var(--white);

      @include m-b-tablet-down {
        width: 32px;
        height: 32px;
      }
    }
  }
}
