.section-title {
  position: relative;
  @extend .flex-wrap;

  margin-bottom: 80px;

  @include m-b-desktop-down {
    margin-bottom: 60px;
  }

  @include m-b-laptop-down {
    margin-bottom: 40px;
  }

  @include m-b-mobile-lg-down {
    margin-bottom: 30px;
  }

  h2 {
    position: relative;
    font-weight: 700;

    font-size: 54px;

    @include m-b-laptop-down {
      font-size: 48px;
    }

    @include m-b-mobile-lg-down {
      font-size: 28px;
    }

    margin: 0 auto;
  }

  &--dublicated {
    margin-top: 40px;

    span {
      display: block;
      position: absolute;
      top: -100%;
      left: 150%;
      font-size: 128px;
      font-weight: 700;
      line-height: 1.2;
      z-index: -1;
      white-space: nowrap;
      color: var(--secondary);

 
      @include m-b-laptop-down {
        font-size: 84px;
        margin-top: 25px;
      }
  
      @include m-b-mobile-lg-down {
        font-size: 64px;
        margin-top: 5px;
      }
    }
  }
}
